form {
	max-width: 600px;
}
form button {
	width: 32%;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 1%;
	margin-bottom: 1%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: 1px solid white;
}
form button:focus,
form button:hover {
	background-image: url('x-gray.png');
	opacity: 0.5;
}
form.o button:focus,
form.o button:hover {
	background-image: url('o-gray.png');
}
form button.x {
	background-image: url('x.png')!important;
	opacity: 1.0!important;
}
form button.o {
	background-image: url('o.png')!important;
	opacity: 1.0!important;
}
